.trending-page--cards-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trending-page--cards-list > li {
  display: flex;
}

.search-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
