.header {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #39445a;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-bottom: 15px;
  box-shadow: 0 1px 5px black;
  color: white;
  z-index: 100;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 15px;
    font-size: 24px;
  }
}

/* --------- SingleTrendCard.tsx ------------ */

.trending-card--poster {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.5s;
  width: 100%;
  box-shadow: 0 5px 5px black;
}

.trending-card--title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
  text-overflow: hidden;
}

.trending-card--subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px 8px;
}

@media screen and (max-width: 550px) {
  .trending-card--bgcontainer {
    width: 46%;
  }
}

/* ------- ContentModal.tsx ----------- */
.card-modal--wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 15px 5px;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #2c2f4b;
  transition: 0.3s;
  border: none;
}

.card-modal--wrapper:hover {
  background-color: rgb(194, 225, 255);
  color: black;
  box-shadow: 0 0 10px white;
}

.card-modal--wrapper:hover > img {
  box-shadow: 0 5px 15px black;
}

.modal-content--landscape {
  object-fit: contain;
  border-radius: 10px;
}

.modal-content--portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.modal-content--tagline {
  padding-bottom: 10px;
  align-self: center;
}

.modal-content--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.modal-content--wrapper::-webkit-scrollbar {
  display: none;
}

.modal-content--about {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.modal-content--title {
  height: 12%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content--description {
  display: flex;
  height: 40%;
  line-height: 1.5;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 15px;
  scrollbar-width: thin;
  box-shadow: inset 0 0 5px black;
  text-align: justify;
}

.modal-content--description::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 835px) {
  .modal-content--landscape {
    display: none;
  }
  .modal-content--portrait {
    display: flex;
    width: 38%;
  }
  .modal-content--wrapper {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .modal-content--about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .modal-content--title {
    font-size: 3.5vw;
  }
  .modal-content--description {
    font-size: 22px;
  }
}

/* ------- ModalGalleryCarousel.tsx ------------- */

.carousel-item--wrapper {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
  text-align: center;
}

.carousel-item--img {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px black;
}
